WEB-INF/classes/META-INF/InterconectaWs.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.interconecta.tsp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.interconecta.tsp.com/" name="InterconectaWsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.interconecta.tsp.com/" schemaLocation="http://sctmixcoac.from-la.net:8084/CMM_Pruebas/InterconectaWs?xsd=1" />
</xsd:schema>
</types>
<message name="timbraEnviaCFDI">
<part name="parameters" element="tns:timbraEnviaCFDI" />
</message>
<message name="timbraEnviaCFDIResponse">
<part name="parameters" element="tns:timbraEnviaCFDIResponse" />
</message>
<message name="cancelaCFDI">
<part name="parameters" element="tns:cancelaCFDI" />
</message>
<message name="cancelaCFDIResponse">
<part name="parameters" element="tns:cancelaCFDIResponse" />
</message>
<message name="timbraEnviaCFDIxp">
<part name="parameters" element="tns:timbraEnviaCFDIxp" />
</message>
<message name="timbraEnviaCFDIxpResponse">
<part name="parameters" element="tns:timbraEnviaCFDIxpResponse" />
</message>
<message name="timbraEnviaCFDIBytes">
<part name="parameters" element="tns:timbraEnviaCFDIBytes" />
</message>
<message name="timbraEnviaCFDIBytesResponse">
<part name="parameters" element="tns:timbraEnviaCFDIBytesResponse" />
</message>
<message name="otorgarAccesoContribuyente">
<part name="parameters" element="tns:otorgarAccesoContribuyente" />
</message>
<message name="otorgarAccesoContribuyenteResponse">
<part name="parameters" element="tns:otorgarAccesoContribuyenteResponse" />
</message>
<message name="cancelaCFDI32">
<part name="parameters" element="tns:cancelaCFDI32" />
</message>
<message name="cancelaCFDI32Response">
<part name="parameters" element="tns:cancelaCFDI32Response" />
</message>
<message name="timbraEnviaCFDIReexpide">
<part name="parameters" element="tns:timbraEnviaCFDIReexpide" />
</message>
<message name="timbraEnviaCFDIReexpideResponse">
<part name="parameters" element="tns:timbraEnviaCFDIReexpideResponse" />
</message>
<portType name="InterconectaWs">
<operation name="timbraEnviaCFDI">
<input wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIRequest" message="tns:timbraEnviaCFDI" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIResponse" message="tns:timbraEnviaCFDIResponse" />
</operation>
<operation name="cancelaCFDI">
<input wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDIRequest" message="tns:cancelaCFDI" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDIResponse" message="tns:cancelaCFDIResponse" />
</operation>
<operation name="timbraEnviaCFDIxp">
<input wsam:Action="timbraEnviaCFDIxp" message="tns:timbraEnviaCFDIxp" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIxpResponse" message="tns:timbraEnviaCFDIxpResponse" />
</operation>
<operation name="timbraEnviaCFDIBytes">
<input wsam:Action="timbraEnviaCFDIBytes" message="tns:timbraEnviaCFDIBytes" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIBytesResponse" message="tns:timbraEnviaCFDIBytesResponse" />
</operation>
<operation name="otorgarAccesoContribuyente">
<input wsam:Action="otorgarAccesoContribuyente" message="tns:otorgarAccesoContribuyente" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/otorgarAccesoContribuyenteResponse" message="tns:otorgarAccesoContribuyenteResponse" />
</operation>
<operation name="cancelaCFDI32">
<input wsam:Action="cancelaCFDI32" message="tns:cancelaCFDI32" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDI32Response" message="tns:cancelaCFDI32Response" />
</operation>
<operation name="timbraEnviaCFDIReexpide">
<input wsam:Action="timbraEnviaCFDIReexpide" message="tns:timbraEnviaCFDIReexpide" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIReexpideResponse" message="tns:timbraEnviaCFDIReexpideResponse" />
</operation>
</portType>
<binding name="InterconectaWsPortBinding" type="tns:InterconectaWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="timbraEnviaCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelaCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIxp">
<soap:operation soapAction="timbraEnviaCFDIxp" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIBytes">
<soap:operation soapAction="timbraEnviaCFDIBytes" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="otorgarAccesoContribuyente">
<soap:operation soapAction="otorgarAccesoContribuyente" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelaCFDI32">
<soap:operation soapAction="cancelaCFDI32" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIReexpide">
<soap:operation soapAction="timbraEnviaCFDIReexpide" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="InterconectaWsService">
<port name="InterconectaWsPort" binding="tns:InterconectaWsPortBinding">
<soap:address location="http://sctmixcoac.from-la.net:8084/CMM_Pruebas/InterconectaWs" />
</port>
</service>
</definitions>