WEB-INF/wsdl/sctmixcoac.from-la.net_8084/CMM_Pruebas/InterconectaWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.interconecta.tsp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.interconecta.tsp.com/" name="InterconectaWsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.interconecta.tsp.com/" schemaLocation="http://cmm.from-la.net:8080/CMM/InterconectaWs?xsd=1" />
</xsd:schema>
</types>
<message name="cancelaCFDI">
<part name="parameters" element="tns:cancelaCFDI" />
</message>
<message name="cancelaCFDIResponse">
<part name="parameters" element="tns:cancelaCFDIResponse" />
</message>
<message name="verificarLogin">
<part name="parameters" element="tns:verificarLogin" />
</message>
<message name="verificarLoginResponse">
<part name="parameters" element="tns:verificarLoginResponse" />
</message>
<message name="timbraEnviaCFDIxp">
<part name="parameters" element="tns:timbraEnviaCFDIxp" />
</message>
<message name="timbraEnviaCFDIxpResponse">
<part name="parameters" element="tns:timbraEnviaCFDIxpResponse" />
</message>
<message name="timbraEnviaCFDI">
<part name="parameters" element="tns:timbraEnviaCFDI" />
</message>
<message name="timbraEnviaCFDIResponse">
<part name="parameters" element="tns:timbraEnviaCFDIResponse" />
</message>
<message name="timbraEnviaCFDIReexpide">
<part name="parameters" element="tns:timbraEnviaCFDIReexpide" />
</message>
<message name="timbraEnviaCFDIReexpideResponse">
<part name="parameters" element="tns:timbraEnviaCFDIReexpideResponse" />
</message>
<message name="cancelaCFDISectorPrimario">
<part name="parameters" element="tns:cancelaCFDISectorPrimario" />
</message>
<message name="cancelaCFDISectorPrimarioResponse">
<part name="parameters" element="tns:cancelaCFDISectorPrimarioResponse" />
</message>
<message name="timbraEnviaCFDIBytes">
<part name="parameters" element="tns:timbraEnviaCFDIBytes" />
</message>
<message name="timbraEnviaCFDIBytesResponse">
<part name="parameters" element="tns:timbraEnviaCFDIBytesResponse" />
</message>
<message name="timbraEnviaRetenciones">
<part name="parameters" element="tns:timbraEnviaRetenciones" />
</message>
<message name="timbraEnviaRetencionesResponse">
<part name="parameters" element="tns:timbraEnviaRetencionesResponse" />
</message>
<message name="validaComprobante">
<part name="parameters" element="tns:validaComprobante" />
</message>
<message name="validaComprobanteResponse">
<part name="parameters" element="tns:validaComprobanteResponse" />
</message>
<message name="sellaTimbraCFDI">
<part name="parameters" element="tns:sellaTimbraCFDI" />
</message>
<message name="sellaTimbraCFDIResponse">
<part name="parameters" element="tns:sellaTimbraCFDIResponse" />
</message>
<message name="cancelaCFDI32">
<part name="parameters" element="tns:cancelaCFDI32" />
</message>
<message name="cancelaCFDI32Response">
<part name="parameters" element="tns:cancelaCFDI32Response" />
</message>
<message name="cancelaCFDIRetenciones">
<part name="parameters" element="tns:cancelaCFDIRetenciones" />
</message>
<message name="cancelaCFDIRetencionesResponse">
<part name="parameters" element="tns:cancelaCFDIRetencionesResponse" />
</message>
<message name="otorgarAccesoContribuyente">
<part name="parameters" element="tns:otorgarAccesoContribuyente" />
</message>
<message name="otorgarAccesoContribuyenteResponse">
<part name="parameters" element="tns:otorgarAccesoContribuyenteResponse" />
</message>
<message name="cancelaCFDIxp">
<part name="parameters" element="tns:cancelaCFDIxp" />
</message>
<message name="cancelaCFDIxpResponse">
<part name="parameters" element="tns:cancelaCFDIxpResponse" />
</message>
<message name="timbraEnviaCFDIBytes22">
<part name="parameters" element="tns:timbraEnviaCFDIBytes22" />
</message>
<message name="timbraEnviaCFDIBytes22Response">
<part name="parameters" element="tns:timbraEnviaCFDIBytes22Response" />
</message>
<message name="timbraEnviaCFDIBytesSPrimario">
<part name="parameters" element="tns:timbraEnviaCFDIBytesSPrimario" />
</message>
<message name="timbraEnviaCFDIBytesSPrimarioResponse">
<part name="parameters" element="tns:timbraEnviaCFDIBytesSPrimarioResponse" />
</message>
<portType name="InterconectaWs">
<operation name="cancelaCFDI">
<input wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDIRequest" message="tns:cancelaCFDI" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDIResponse" message="tns:cancelaCFDIResponse" />
</operation>
<operation name="verificarLogin">
<input wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/verificarLoginRequest" message="tns:verificarLogin" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/verificarLoginResponse" message="tns:verificarLoginResponse" />
</operation>
<operation name="timbraEnviaCFDIxp">
<input wsam:Action="timbraEnviaCFDIxp" message="tns:timbraEnviaCFDIxp" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIxpResponse" message="tns:timbraEnviaCFDIxpResponse" />
</operation>
<operation name="timbraEnviaCFDI">
<input wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIRequest" message="tns:timbraEnviaCFDI" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIResponse" message="tns:timbraEnviaCFDIResponse" />
</operation>
<operation name="timbraEnviaCFDIReexpide">
<input wsam:Action="timbraEnviaCFDIReexpide" message="tns:timbraEnviaCFDIReexpide" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIReexpideResponse" message="tns:timbraEnviaCFDIReexpideResponse" />
</operation>
<operation name="cancelaCFDISectorPrimario">
<input wsam:Action="cancelaCFDISectorPrimario" message="tns:cancelaCFDISectorPrimario" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDISectorPrimarioResponse" message="tns:cancelaCFDISectorPrimarioResponse" />
</operation>
<operation name="timbraEnviaCFDIBytes">
<input wsam:Action="timbraEnviaCFDIBytes" message="tns:timbraEnviaCFDIBytes" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIBytesResponse" message="tns:timbraEnviaCFDIBytesResponse" />
</operation>
<operation name="timbraEnviaRetenciones">
<input wsam:Action="timbraEnviaRetenciones" message="tns:timbraEnviaRetenciones" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaRetencionesResponse" message="tns:timbraEnviaRetencionesResponse" />
</operation>
<operation name="validaComprobante">
<input wsam:Action="validaComprobante" message="tns:validaComprobante" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/validaComprobanteResponse" message="tns:validaComprobanteResponse" />
</operation>
<operation name="sellaTimbraCFDI">
<input wsam:Action="sellaTimbraCFDI" message="tns:sellaTimbraCFDI" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/sellaTimbraCFDIResponse" message="tns:sellaTimbraCFDIResponse" />
</operation>
<operation name="cancelaCFDI32">
<input wsam:Action="cancelaCFDI32" message="tns:cancelaCFDI32" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDI32Response" message="tns:cancelaCFDI32Response" />
</operation>
<operation name="cancelaCFDIRetenciones">
<input wsam:Action="cancelaCFDIRetenciones" message="tns:cancelaCFDIRetenciones" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDIRetencionesResponse" message="tns:cancelaCFDIRetencionesResponse" />
</operation>
<operation name="otorgarAccesoContribuyente">
<input wsam:Action="otorgarAccesoContribuyente" message="tns:otorgarAccesoContribuyente" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/otorgarAccesoContribuyenteResponse" message="tns:otorgarAccesoContribuyenteResponse" />
</operation>
<operation name="cancelaCFDIxp">
<input wsam:Action="cancelaCFDIxp" message="tns:cancelaCFDIxp" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/cancelaCFDIxpResponse" message="tns:cancelaCFDIxpResponse" />
</operation>
<operation name="timbraEnviaCFDIBytes22">
<input wsam:Action="timbraEnviaCFDIBytes22" message="tns:timbraEnviaCFDIBytes22" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIBytes22Response" message="tns:timbraEnviaCFDIBytes22Response" />
</operation>
<operation name="timbraEnviaCFDIBytesSPrimario">
<input wsam:Action="timbraEnviaCFDIBytesSPrimario" message="tns:timbraEnviaCFDIBytesSPrimario" />
<output wsam:Action="http://ws.interconecta.tsp.com/InterconectaWs/timbraEnviaCFDIBytesSPrimarioResponse" message="tns:timbraEnviaCFDIBytesSPrimarioResponse" />
</operation>
</portType>
<binding name="InterconectaWsPortBinding" type="tns:InterconectaWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cancelaCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIxp">
<soap:operation soapAction="timbraEnviaCFDIxp" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIReexpide">
<soap:operation soapAction="timbraEnviaCFDIReexpide" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelaCFDISectorPrimario">
<soap:operation soapAction="cancelaCFDISectorPrimario" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIBytes">
<soap:operation soapAction="timbraEnviaCFDIBytes" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaRetenciones">
<soap:operation soapAction="timbraEnviaRetenciones" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validaComprobante">
<soap:operation soapAction="validaComprobante" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sellaTimbraCFDI">
<soap:operation soapAction="sellaTimbraCFDI" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelaCFDI32">
<soap:operation soapAction="cancelaCFDI32" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelaCFDIRetenciones">
<soap:operation soapAction="cancelaCFDIRetenciones" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="otorgarAccesoContribuyente">
<soap:operation soapAction="otorgarAccesoContribuyente" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelaCFDIxp">
<soap:operation soapAction="cancelaCFDIxp" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIBytes22">
<soap:operation soapAction="timbraEnviaCFDIBytes22" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="timbraEnviaCFDIBytesSPrimario">
<soap:operation soapAction="timbraEnviaCFDIBytesSPrimario" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="InterconectaWsService">
<port name="InterconectaWsPort" binding="tns:InterconectaWsPortBinding">
<soap:address location="http://sctmixcoac2.from-la.net:8083/CMM_Pruebas/InterconectaWs" />
</port>
</service>
</definitions>