WEB-INF/wsdl/localhost_8084/ContabilidadPlus/MySIWEBConta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.contabilidad.siweb.mx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.contabilidad.siweb.mx.com/" name="MySIWEBContaService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.contabilidad.siweb.mx.com/" schemaLocation="http://localhost:8084/ContabilidadPlus/MySIWEBConta?xsd=1" />
</xsd:schema>
</types>
<message name="doPolizaAuto">
<part name="parameters" element="tns:doPolizaAuto" />
</message>
<message name="doPolizaAutoResponse">
<part name="parameters" element="tns:doPolizaAutoResponse" />
</message>
<message name="doEvalUser">
<part name="parameters" element="tns:doEvalUser" />
</message>
<message name="doEvalUserResponse">
<part name="parameters" element="tns:doEvalUserResponse" />
</message>
<message name="doPolizaAutoCancel">
<part name="parameters" element="tns:doPolizaAutoCancel" />
</message>
<message name="doPolizaAutoCancelResponse">
<part name="parameters" element="tns:doPolizaAutoCancelResponse" />
</message>
<message name="doCleanPeriodo">
<part name="parameters" element="tns:doCleanPeriodo" />
</message>
<message name="doCleanPeriodoResponse">
<part name="parameters" element="tns:doCleanPeriodoResponse" />
</message>
<portType name="MySIWEBConta">
<operation name="doPolizaAuto">
<input wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doPolizaAutoRequest" message="tns:doPolizaAuto" />
<output wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doPolizaAutoResponse" message="tns:doPolizaAutoResponse" />
</operation>
<operation name="doEvalUser">
<input wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doEvalUserRequest" message="tns:doEvalUser" />
<output wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doEvalUserResponse" message="tns:doEvalUserResponse" />
</operation>
<operation name="doPolizaAutoCancel">
<input wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doPolizaAutoCancelRequest" message="tns:doPolizaAutoCancel" />
<output wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doPolizaAutoCancelResponse" message="tns:doPolizaAutoCancelResponse" />
</operation>
<operation name="doCleanPeriodo">
<input wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doCleanPeriodoRequest" message="tns:doCleanPeriodo" />
<output wsam:Action="http://ws.contabilidad.siweb.mx.com/MySIWEBConta/doCleanPeriodoResponse" message="tns:doCleanPeriodoResponse" />
</operation>
</portType>
<binding name="MySIWEBContaPortBinding" type="tns:MySIWEBConta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="doPolizaAuto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="doEvalUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="doPolizaAutoCancel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="doCleanPeriodo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MySIWEBContaService">
<port name="MySIWEBContaPort" binding="tns:MySIWEBContaPortBinding">
<soap:address location="http://localhost:8084/ContabilidadPlus/MySIWEBConta" />
</port>
</service>
</definitions>